[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==25.1.0"
django = "==5.1.7"
django-health-check = "==3.18.3"
environs = {extras = ["django"], version = "==14.1.1"}
python-dateutil = "==2.9.0.post0"
sentry-sdk = "==2.19.1"
django-crispy-forms = "==2.3"
crispy-bootstrap5 = "==2024.10"
factory-boy = "==3.3.3"
django-debug-toolbar = "==5.0.1"
django-filter = "==25.1"
tblib = "*"  # Used by Django for parallel test run exception reporting
gunicorn = "==23.0.0"
psycopg = {extras = ["binary", "pool"], version = "==3.2.5"}
whitenoise = {extras = ["brotli"], version = "==6.9.0"}
flake8 = "==7.1.2"
flake8-bugbear = "==24.8.19"
unittest-xml-reporting = "==3.2.0"

[requires]
python_version = "3.12"
