{% load crispy_forms_tags %}

<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <form hx-post="{% url 'draft_player' form.instance.id %}"
            hx-target="#modals-here"
            hx-on::after-request="if (event.detail.successful) closeModal()">
        {% csrf_token %}

        <div class="modal-header">
          <h5 class="modal-title">
            Draft Player: {{ form.instance.firstname }} {{ form.instance.lastname }} ({{ form.instance.position }})
          </h5>
        </div>
        <div class="modal-body">
          <p>
            <b>Round &amp; Pick:</b>
            {{ round }} - {{ pick }}
          </p>

          {{ form.fantasyteam|as_crispy_field }}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Draft Player</button>
          <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancel</button>
        </div>
      </form>

    </div>
  </div>
</div>
