{% load static %}

<div id="players">
  <input type="hidden" form="players-search" name="sort" id="id_sort" value="{{ filter.form.data.sort }}" />
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Player</th>
      <th>
        {% if not filter.form.data.sort or filter.form.data.sort == "rank" %}
          Rank&downarrow;
        {% else %}
          <a href="{{ filter.query_string }}&sort=rank"
             hx-get="{{ filter.query_string }}&sort=rank"
             hx-target="#players"
             hx-push-url="true">
            Rank
          </a>
        {% endif %}
      </th>
      <th>
        {% if filter.form.data.sort == "-points" %}
          Pts&downarrow;
        {% else %}
          <a href="{{ filter.query_string }}&sort=-points"
             hx-get="{{ filter.query_string }}&sort=-points"
             hx-target="#players"
             hx-push-url="true">
            Pts
          </a>
        {% endif %}
      </th>
      <th>Bye</th>
      <th>ADP</th>
      <th>Pick #</th>
      <th>Fantasy Team</th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
      <tr>
        <td>
          {{ player.lastname }}, {{ player.firstname }}<br/>
          <span style="font-size: 11px;">{{ player.team.abbrev }} - {{ player.position }}</span>
        </td>
        <td>{{ player.rank }}</td>
        <td>{{ player.points }}</td>
        <td>{{ player.team.byeweek }}</td>
        <td>{{ player.avgPick }}</td>
        <td>
          {% if player.pick %}
            {{ player.pick }}
          {% endif %}
        </td>
        <td>
          {% if player.fantasyteam %}
            {{ player.fantasyteam.name }} ({{ player.fantasyteam.owner }})
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if pagination.has_other_pages %}
    <div class="row mt-3 col-12 pagination text-right">
      <div class="w-100">
        <p>
          {% if pagination.has_previous %}
            <a class="btn btn-secondary"
               href="{{ filter.query_string }}&page={{ pagination.previous_page_number }}"
               hx-get="{{ filter.query_string }}&page={{ pagination.previous_page_number }}"
               hx-target="#players"
               hx-push-url="true">
              &lt;
            </a>
          {% endif %}
          {% if pagination.has_previous or pagination.has_next %}
            See More Players
          {% endif %}
          {% if pagination.has_next %}
            <a class="btn btn-secondary"
               href="{{ filter.query_string }}&page={{ pagination.next_page_number }}"
               hx-get="{{ filter.query_string }}&page={{ pagination.next_page_number }}"
               hx-target="#players"
               hx-push-url="true">
              &gt;
            </a>
          {% endif %}
        </p>
      </div>
    </div>
  {% endif %}
</div>
