{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Draft{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-3">
      <div class="row">

        {# Draft order #}
        <div class="list-group">
          <div style="color: white; background-color: black;" class="list-group-item">
            Round 1
          </div>
          {% for team in teams %}
            <div class="list-group-item">
              <span class="badge rounded-pill bg-primary">{{ team.draft_order }}.</span>
              <span style="padding-left: 5px;">{{ team.name }} ({{ team.owner }})</span>
            </div>
          {% endfor %}
        </div>

        {# Team drafted players #}
        <div class="card">
          <div class="card-header">
            <select name="fantasyteam" class="form-select"
              hx-get="{% url "team_players" %}" hx-target="#team-players"
              hx-trigger="change, player-drafted from:body">
              {% for team in teams %}
                <option value="{{ team.id }}"
                  {% if current_team_id == team.id %} selected{% endif %}>
                  {{ team.name }} ({{ team.owner }})
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="card-body">
            {% include "draft/_team-players.html" %}
          </div>
        </div>

      </div>
    </div>

    <div class="col-9">
      {# Players filter #}
      <div class="row">
        <div class="card">
          <div class="card-body">

            <form id="players-search" action="" method="get"
                  hx-trigger="submit, player-drafted from:body, input from:[form=players-search] delay:200ms"
                  hx-push-url="true"
                  hx-get="{% url 'draft' %}" hx-target="#players">
              <div class="row">
                <div class="col-md-3">
                  <div id="div_id_lastname" class="mb-3">
                    <label for="id_lastname" class="form-label">
                      Last Name
                    </label>
                    <input type="text" name="lastname" autofocus class="textinput form-control"
                           id="id_lastname"
                           form="players-search"
                           value="{{ filter.form.lastname.value|default_if_none:'' }}"/>
                  </div>
                </div>
                <div class="col-md-3">
                  {{ filter.form.position|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ filter.form.status|as_crispy_field }}
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>

      {# Players table #}
      {% include "draft/_players.html" %}

    </div>
  </div>

  <div id="modals-here"></div>

{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script type="application/javascript">
    {# From: https://htmx.org/examples/modal-bootstrap/ #}
    function closeModal() {
      let container = document.getElementById("modals-here");
      let backdrop = document.getElementById("modal-backdrop");
      let modal = document.getElementById("modal");

      modal.classList.remove("show");
      backdrop.classList.remove("show");

      setTimeout(function () {
        container.removeChild(backdrop);
        container.removeChild(modal);
      }, 200)
    }
  </script>
{% endblock %}
